.current-day-weather-container {
    background-color: #2C2C3A;
    color: white;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
    margin-right: 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weather-img > img {
    height: 90px;
    width: 90px;
    margin-top: 10%;
}

.location,
.temperature,
.humidity,
.wind-speed {
    display: flex;
    flex-direction: column;
}

.primary {
    font-size: xx-large;
}

.secondary {
    font-size: small;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

.bottom::-webkit-scrollbar {
    display: none;
}

.hour-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CBE8EA;
    border-radius: 20px;
    color: #1F1E25;
    user-select: none;
    padding: 0.5rem;
}

.hour-temperature, .time {
    font-weight: 500;
    font-size: 13px;
}

.hour-weather-img > img {
    height: 40px;
    width: 40px;
    margin-top: 10%;
}

@media screen and (max-width:1024px) {
    .top {
        gap: 0.5rem;
    }

    .current-day-weather-container {
        margin-right: 1rem;
    }
}